<div id="<%= dom_id musician %>">
  <p>
    <strong>Genre:</strong>
    <%= musician.genre %>
  </p>

  <p>
    <strong>Daw:</strong>
    <%= musician.daw %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= musician.experience %>
  </p>

</div>
